<div *ngIf="userCart && userCart.orders.length">
  <h3>YOUR CART ({{ totalQuantity }})</h3>
  <mat-divider></mat-divider>
  <app-order-item
  *ngFor="let product of cartProducts"
  [product]="product"
  (incrementClick)="addToCart(product)"
  (decrementClick)="removeFromCart(product)"
  (quantityChanged)="updateQuantity($event)"
  >

  </app-order-item>
  <!-- <div class="user-cart" *ngFor="let product of cartProducts">
    <img
      [src]="'http://localhost:1337' + product.img[0].url"
      alt="product-img"
      class="product-img"
    />
    <p class="product-name">
      {{ product.name }}
    </p>
    <button mat-icon-button color="warn" class="btn" (click) = "removeFromCart(product)">
      <mat-icon>remove</mat-icon>
    </button>
    <p class="product-price">{{product | quantity : userCart.orders }}</p>
      <button mat-icon-button color="warn" class="btn" (click) = "addToCart(product)">
        <mat-icon>add</mat-icon>
      </button>
      <p class="product-price">
        x {{ product.price }} $
      </p>
  </div> -->
  <mat-divider></mat-divider>

  <p class="total-price">Total = {{ getTotal | number }} $</p>
</div>
