<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Login</mat-card-title>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email or Username</mat-label>
            <input
              formControlName="identifier"
              matInput
              type="text"
              placeholder="Email or Username..."
            />
            <mat-error *ngIf="identifierErrors && identifierErrors.required"
              >This field is required!</mat-error
            >
            <mat-error *ngIf="identifierErrors && identifierErrors.minlength">
              Min. {{ identifierErrors.minlength.requiredLength }} chars are
              required!
            </mat-error>

            <button type="button" mat-icon-button matSuffix>
              <mat-icon>account_circle</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="isPasswordVisible ? 'text' : 'password'"
              placeholder="Password..."
            />
            <mat-error *ngIf="passwordErrors && passwordErrors.required"
              >This field is required!</mat-error
            >
            <mat-error *ngIf="passwordErrors && passwordErrors.minlength">
              Min. {{ passwordErrors.minlength.requiredLength }} chars are
              required!
            </mat-error>

            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="isPasswordVisible = !isPasswordVisible"
            >
              <mat-icon>{{
                isPasswordVisible ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <p>
          <button color="primary" type="submit" mat-raised-button>
            <span>Login</span>
            <mat-icon>lock</mat-icon>
          </button>
        </p>
      </form>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
